#include <windows.h>

#include "res.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

1 VERSIONINFO
  FILEVERSION 1,0,0,1
  PRODUCTVERSION 1,0,0,1
  FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS 0x40004L
  FILETYPE 0x1L
  FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "lin-boheng@gitee.com"
            VALUE "FileDescription", "3D编辑器"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "StereoVision.exe"
            VALUE "LegalCopyright", "Copyright (C) 2021"
            VALUE "OriginalFilename", "main.exe"
            VALUE "ProductName", "StereoVision"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END

IDI_ICON1 ICON              "res/icon/app_icon.ico"

IDC_MOVE CURSOR             "res/cursor/move.cur"

IDS_BASIC_VERT SHADER       "res/shader/basic_vert.vert"
IDS_BASIC_FRAG SHADER       "res/shader/basic_frag.frag"

IDC_MENU MENU
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "保存(S)",                       IDM_SAVE
        MENUITEM SEPARATOR
        MENUITEM "退出(&X)",                      IDM_EXIT
    END
    POPUP "关于(&H)"
    BEGIN
        MENUITEM "关于(&A) ...",                  IDM_ABOUT
    END
END

IDC_MENU ACCELERATORS
BEGIN
    "/",            IDM_ABOUT,              ASCII, ALT, NOINVERT
    "?",            IDM_ABOUT,              ASCII, ALT, NOINVERT
    "^S",           IDM_SAVE,               ASCII, NOINVERT
    VK_ESCAPE,      IDM_EXIT,               VIRTKEY, NOINVERT
    "q",            IDM_ROTATE_CCW,         ASCII, NOINVERT
    "e",            IDM_ROTATE_CW,          ASCII, NOINVERT
    "p",            IDM_POINT,              ASCII, NOINVERT
    "f",            IDM_TOPOLOGY,           ASCII, NOINVERT
    "g",            IDM_MOVE,               ASCII, NOINVERT
    "r",            IDM_ROTATE,             ASCII, NOINVERT
    "s",            IDM_SIZE,               ASCII, NOINVERT
    "c",            IDM_SELECT_COLOR,       ASCII, NOINVERT
    "x",            IDM_OP_X,               ASCII, NOINVERT
    "y",            IDM_OP_Y,               ASCII, NOINVERT
    "z",            IDM_OP_Z,               ASCII, NOINVERT
    "X",            IDM_OP_PLANE_X,         ASCII, NOINVERT
    "Y",            IDM_OP_PLANE_Y,         ASCII, NOINVERT
    "Z",            IDM_OP_PLANE_Z,         ASCII, NOINVERT
    VK_DELETE,      IDM_DELETE,             VIRTKEY, NOINVERT
END

IDD_TEXT DIALOG
